textarea,
input[type=text] {
  &.form-control {
    @include border-radius(3px);
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-black;
    outline: none;
    &:hover,&:active,&:focus {
      outline: none;
      border: 1px solid $main-color;
      @include box-shadow(none);
    }
  }
}

textarea.form-control {
  margin:auto auto;
  width: 100%;
  resize: none;
}

select.form-control {
  background: transparent;
  background: #333;
  border: none;
  outline: 1px solid $text-gray;
  font-size: 20px;
  line-height: 22px;
  color: $white;
  &:hover,
  &:active,
  &:focus {
    outline: 1px solid $text-gray;
  }
}
